body 
{
    background-image: url('../img/bg.png');
}
#disBanner
{
    height:100px;
    margin-left:-8px;
    margin-top:-10px;
    margin-right:-8px;
    background-color:cornflowerblue;
}
#banner{
    height:100px;
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}
#logo{
    height:92px;
    width:300px;
    float:left;
    margin-left: 100px;
}
#personel
{
    width:182px;
    height:97px;
    margin-left:811px;
    text-align:center;
}
#personelTablo
{
    width:180px;
    height:95px;
}
.ilkSutusun
{
    width:130px;
}


#main{
    margin-left:auto;
    margin-right:auto;
    width:1000px;
}

#content{
    width:1000px;
}