<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="CSS/masterCss.css" rel="stylesheet" />
    <link href="CSS/girisCss.css" rel="stylesheet" />
    <link href="CSS/musteriCss.css" rel="stylesheet" />
    <link href="CSS/bilgi.css" rel="stylesheet" />
    <link href="CSS/menu.css" rel="stylesheet" />
   <script src="JS/jquery-latest.min.js" type="text/javascript"></script>
   <script src="JS/script.js" type="text/javascript"></script>



    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    </head>
<body>
    <form id="form1" runat="server">


    <!-- ----------------------------------------------------------------------------------------------------------------------- -->
        <div id="disBanner">
            <div id="banner">
                <div id="logo">
                    <img src="img/logo.png"  />
                </div>
                <div id="personel">

                                <br />

                                Merhaba <asp:Label ID="lblPersonelAdi" runat="server" Text="Label"></asp:Label>
                                <br />
                                <br />
                                <asp:Button ID="btnCikis" runat="server" Height="20px" onclick="btnCikis_Click" 
                                    Text="Çıkış" Width="50px" />
                </div>
            
            </div>
        </div>
        <!-- ----------------------------------------------------------------------------------------------------------------------- -->
        <div id="main">
            <div style=" margin-left:150px; margin-right:auto; width:400px;">
                <div id='cssmenu'>
            <ul>
                <li><a href="AnaSayfa.aspx">Anasayfa</a></li>
                <li class='has-sub'><a href='#'>Müşteri</a>
                    <ul>

                        <li><a href="MusteriEkle.aspx">Müşteri Ekle</a></li>
                        <li><a href="MusteriListele.aspx">Müşteri Listele</a></li>
                    </ul>
                </li>
                <li class='has-sub'><a href='#'>Servis</a>
                    <ul>
                        <li><a href="ServisEkle.aspx"> Servis Ekle</a></li>
                        <li><a href="ServisListele.aspx">Servis Listele</a></li>
                        <li><a href="ServisCik.aspx">Servis Teslim</a></li>
                        <li><a href="ServisCikisListele.aspx">Teslim Edilenler</a></li>
                    </ul>
                </li>
                <li class='has-sub'><a href='#'>Personel</a>
                    <ul>
                        <li><a href="PersonelEkle.aspx">Personel Ekle</a></li>
                        <li><a href="PersonelListele.aspx">Personel Listele</a></li>
                    </ul>
                </li>
            </ul>
        </div>
            </div>
        <div id="content">
            <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
            </asp:ContentPlaceHolder>
        </div>
        </div>
    </form>
</body>
</html>
